*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --text-color:white;
    --btn-text:black;
    --secondary-color:rgb(34, 32, 32);
    --primary-color:rgb(49, 47, 47);
    --btn-color:rgb(255, 166, 0);
    --font-family-heading:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-family-text:cursive;
    --font-family-smaller-heading:Verdana, Geneva, Tahoma, sans-serif;

}
body{
    background: gray;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container a{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 2rem;
    border-radius: 6px;
}

.form_container{
    /* border: 2px solid red; */
    width: 40vw;
    text-align: center;
    color: var(--text-color);
    background: var(--secondary-color);
    padding: 20px 30px;
    margin: 50px 30%;
    border-radius: 12px;
    box-shadow: 1px 4px 6px var(--primary-color) ;
}
label{
    font-family: var(--font-family-heading);
    text-transform: capitalize;
    font-size: 24px;


}
input{
    width: 100%;
    /* height: 30px; */
    padding: 10px;
    margin: 12px 0 25px;
    border-radius: 5px;
   outline: none;
   padding: 10px ;
   font-size: 15px;
}
textarea{
    border-radius: 5px;
    margin: 12px 0 25px;
   outline: none;
   padding: 10px;
   width: 100%;
   font-size: 15px;
}
#add{
    padding: 10px;
    width: 30%;
    background: var(--btn-color);
    font-size: 20px;
    text-transform: capitalize;
    font-family: var(--font-family-heading);
}

.container form table{
    display: flex;
    width: 100%;
    border-collapse: collapse;
    flex-direction: column;
}

.container form table tr{
    width: 100%;
    text-align: center;
}

.container form table tr th, 
.container form table tr th{
    align-items: center;
    justify-content: center;
    width: 200px;
    border: 1px solid white;
}

.container form table tr td img{
    width: 70px;
    height: 70px;
    border-radius: 4px;
}
.form_group img{
    width: 70px;
    height: 70px;
}